{% extends 'base.html.twig' %}

{% block title %}Cabin index{% endblock %}

{% block body %}
    <h1>Cabin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cabin in cabins %}
            <tr>
                <td>{{ cabin.id }}</td>
                <td>{{ cabin.name }}</td>
                <td>{{ cabin.price }}</td>
                <td>
                    <a href="{{ path('cabin_show', {'id': cabin.id}) }}">show</a>
                    <a href="{{ path('cabin_edit', {'id': cabin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cabin_new') }}">Create new</a>
{% endblock %}