{% extends 'base.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <section class="Login">

        <div class="Login_container">

            <h1 class="Login_title">S'identifier</h1>
            <form class="RegisterForm" action="{{ path('login_check') }}" method="post">

                <div class="RegisterForm_item">
                    <label class="RegisterForm_label" for="username">Mail :</label>
                    <input class="RegisterForm_input" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="RegisterForm_item">
                    <label class="RegisterForm_label" for="password">Password:</label>
                    <input class="RegisterForm_input" type="password" id="password" name="_password" />
                </div>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                    <input type="hidden" name="_target_path" value="{{ path('booking_show', { 'id': sessid }) }}"/>
                #}

                <div class="RegisterItem_submit">
                    <input type="hidden" name="_target_path" value="{{ path('booking_show_by_ref') }}"/>
                    <button class="RegisterItem_btn Button" type="submit">login</button>
                    <a class="RegisterItem_link" href="{{ path('user_registration') }}">S'inscrire</a>
                </div>
            </form>
        </div>
    </section>

    {% endblock %}