{% extends 'base.html.twig' %}
{% block body %}

    <section class="Register">
        <div class="Register_container">
            <h1 class="Register_title">S'inscrire</h1>
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button type="submit">Sign up</button>
            {{ form_end(form) }}
        </div>
    </section>


{% endblock %}