{{ form_start(form) }}
<table>
    {% for cabin in form.cabin %}
        {% set index = cabin.vars.value %}{# get array index #}
        {% set entity = form.cabin.vars.choices[index].data %}{# get entity object #}
            <div class="cabinType">
               {# render checkbox #}
                <p class="test">{{ entity.name }}</p>
                <p>{{ entity.price }} €</p>
                <a href="#">{{ form_widget(cabin) }} Choisir </a>
            </div>
    {% endfor %}
</table>

    {{ form_rest(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
