{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Réservation N°</th>
                <th>Cabine</th>
                <th>Nombre de passagers</th>
                <th>Mois</th>
                <th>Prix</th>
            </tr>
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.reference }}</td>
                <td>{{ booking.cabin.name }}</td>
                <td>{{ booking.guestQuantity }}</td>
                <td>{{ booking.month }}</td>
                <td>{{ booking.cabin.price }} €</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}