{% extends 'base.html.twig' %}

{% block title %}Activities index{% endblock %}

{% block body %}
    <h1>Activities index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.detail }}</td>
                <td>{{ activity.image }}</td>
                <td>{{ activity.price }}</td>
                <td>
                    <a href="{{ path('activities_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('activities_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activities_new') }}">Create new</a>
{% endblock %}